
<div class="allfooter">
    <div class="copyright">Copyright© 2014, INSA Centre Val de Loire.</div>
    <div class="logos">
        <img src="assets/ministere-education.png" alt="ministere-education">
        <img src="assets/eurace@2x.gif" alt="eurace">
        <img src="assets/cti@2x.gif" alt="cti">
        <img src="assets/cdefi.gif" alt="cdefi">
        <img src="assets/cge.gif" alt="cge">
        <img src="assets/cpu.gif" alt="cpu">
        <img src="assets/insa-groupe.gif" alt="insa-groupe">
    
    </div>



</div>
